body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781baa;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}

/* styling the emojies cards */

.emojis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
/* styling inside the cards */

.emoji {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  justify-content: center;
}

/* making the emoji above the h2 */

.emoji .icon {
  order: -1;
}

/* making the buttons aligned and not moving  */

.emoji a {
  margin-top: auto;
}
